.pageNotFound {
  max-width: 400px;
  margin: 0 auto;
}

.pageNotFound__title {
  margin: 246px 0 5px 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #FFF;
  text-align: center;
}

.pageNotFound__subtitle {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #FFF;
  text-align: center;
}

.pageNotFound__exit {
  display: block;
  margin: 184px auto 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #4285F4;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: .5s;
  text-decoration: none;
}

.pageNotFound__exit:hover {
  opacity: 0.6;
}


@media screen and (max-width: 768px) {
  .pageNotFound__title {
    margin: 408px 0 5px 0;
  }
}

@media screen and (max-width: 420px) {
  .pageNotFound__title {
    margin: 329px 0 10px 0;
    font-size: 80px;
    line-height: 97px;
  }

  .pageNotFound__subtitle {
    font-size: 12px;
    line-height: 15px;
  }

  .pageNotFound__exit {
    margin: 284px 0 30px 0;
    font-size: 12px;
    line-height: 15px;
  }
}