.foundnothing__none {
  display: none;
}

.foundnothing{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0
}

.foundnothing__text {
  margin: 0;
  padding: 0;
  color: #EE3465;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}