.navigation {
    margin: 0 70px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation_movies {
    width: 100%;
    margin: 0 70px 0 44px;
}

.navigation__link {
    margin: 0 50px 0 0; 
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    color:  #FFF;
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
}

.navigation__link-movies {
    margin: 0 16px 0 0; 
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    color:  #FFF;
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
}

.navigation__link-movies:last-child {
    margin: 0; 
}


.navigation__link-movies_account {
    font-size: 14px;
    line-height: 16px; 
}

.navigation__link:hover {
    opacity: 0.6;
    text-decoration-line: underline;
}

.navigation__link-movies:hover {
    opacity: 0.6;
    text-decoration-line: underline;
}

.navigation__link:last-child {
    margin: 0;
    padding: 8px 20px;
    background-color: #3DDC84;
    border-radius: 3px;
    color: #000
}

.navigation__link-movies_button {
    display: inline-block;
    background-image: url(../../images/exit.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
    border: none;
    padding: 0;
    margin: 0;  
    background-color: #313131;
    width: 30px;
    height: 30px;
}

.navigation__container-link{
    display: flex;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .navigation {
        margin: 0 30px 0 0;
    }

    .navigation__link {
        margin: 0 30px 0 0;         
    }
    .navigation_movies {
        display: none;
    }


}

@media screen and (max-width: 420px) {
    .navigation {
        margin: 0 14px 0 0;
    }

    .navigation__link {
        margin: 0 14px 0 0;
        font-size: 10px;     
    }

    .navigation__link:last-child {
        margin: 0;
        padding: 5px 12px;
        border-radius: 3px;
    }
}