.header {
  background-color: #202020;
}

.header_main {
  background-color: #073042;
}

.header__container {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin: 38px;
  height: 38px;
  margin: 18px 0 18px 70px;
}

.header__container_form {
  max-width: 396px;
  padding: 70px 0 40px 0;
}

.header__logo_form {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .header__container_form {
    padding: 232px 0 40px 0;
  }

  .header__logo {
    margin: 18px 0 18px 30px;
  }
  .header__logo_form {
    margin: 0;
    padding: 0;
  }
  
}

@media screen and (max-width: 420px) {
  .header__logo {
    margin: 18px 0 18px 14px;
  }

  .header__container_form {
    max-width: 320px;
    padding: 56px 0 50px 0;
  }

  .header__logo_form {
    margin: 0 auto;
    padding: 0;
  }
}