.aboutproject {
    margin: 0 auto;
    padding: 110px 0 100px 0;
    max-width: 1280px;
}

.aboutproject__title {
    margin: 0 70px 0;
    border-bottom: 1px solid #FFF;

}

.aboutproject__title-text {
    margin: 0 0 23px 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    color: #FFF;
}

.aboutproject__text {
    display: grid;
    max-width: 1140px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "h1 h2" "p1 p2";
    gap: 26px 40px; 
    padding: 70px 70px 0;  
}

.aboutproject__text-title {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    color: #FFF;
    margin: 0;
    padding: 0;
}

.aboutproject__text-subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    color: #FFF;
    margin: 0;
    padding: 0;
}

.aboutproject__text-title_first {
    grid-area: h1; 
}

.aboutproject__text-title_second {
    grid-area: h2; 
}

.aboutproject__text-subtitle_first {
    grid-area: p1; 
}

.aboutproject__text-subtitle_second {
    grid-area: p2; 
}


.aboutproject__visualization {
    margin: 110px auto 0;
    max-width: 1140px;
    padding: 0 70px;
}

.aboutproject__visualization-item {
    display: flex;
}

.aboutproject__visualization-time {
    margin: 0;
    padding: 9px 14px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    text-align: center;
}


.aboutproject__visualization-time_first {
    width: 20%;
    background-color: #3DDC84;
    color: #000;
    box-sizing: border-box;
    
}

.aboutproject__visualization-time_second {
    width: 80%;
    background-color: #303030;
    color: #FFF;
    box-sizing: border-box;
}

.aboutproject__visualization-text {
    margin: 14px 0 0 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    text-align: center;
    color: #8B8B8B
}

.aboutproject__visualization-text_first {
    width: 20%;
}

.aboutproject__visualization-text_second {
    width: 80%;
}


@media screen and (max-width: 768px) {
    .aboutproject {
        padding: 90px 0 90px 0;
    }

    .aboutproject__title {
        margin: 0 50px 0;
    }

    .aboutproject__text {
        gap: 22px 30px; 
        padding: 70px 50px 0;  
    }

    .aboutproject__text-subtitle {
        font-size: 12px;
        line-height: 18px;
    }

    .aboutproject__visualization {
        margin: 93px auto 0;
        padding: 0 50px;
    }

    .aboutproject__visualization-time {
        padding: 9px 10px;
    }
}

@media screen and (max-width: 560px) {
    .aboutproject {
        padding: 70px 0 70px 0;
    }

    .aboutproject__title {
        margin: 0 18px 0;
    }

    .aboutproject__text {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "h1" "p1" "h2" "p2";
        gap: 0;
        padding: 60px 18px 0;  
    }

    .aboutproject__text-title {
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 16px 0;
        padding: 0;
    }

    .aboutproject__text-subtitle {
        font-size: 11px;
        line-height: 16px;
        margin: 0 0 56px 0;
    }


    .aboutproject__visualization {
        margin: 4px auto 0;
        padding: 0 18px;
    }

    .aboutproject__visualization-time {
        padding: 11px 10px;
        font-size: 11px;
        line-height: 13px;
    }

    .aboutproject__visualization-text {
        margin: 10px 0 0 0;
        font-size: 11px;
        line-height: 13px;
    }

    .aboutproject__visualization-time_first {
        width: 35%;
    }
    
    .aboutproject__visualization-time_second {
        width: 65%;
    }

    .aboutproject__visualization-text_first {
        width: 35%;
    }
    
    .aboutproject__visualization-text_second {
        width: 65%;
    }
}