@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);

body {
  background-color: #202020;
  margin: 0, auto;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

